@import '../../public/css/components/content.css';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div {
  width: 300px;
  height: auto;
  background-color: lightblue;
}
.container ul > li {
  display: inline;
  font-size: 3vh;
}
