@import '../../public/css/components/content.css';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div {
  background-color: lightblue;
}
.contained {
  background-color: lightcyan;
  margin: 40px 0px 10px 0px;
  padding: 50px;
}
