@import '../../public/css/components/content.css';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > div {
  background-color: lightblue;
  height: auto;
  width: 80%;
}
.container p::before {
  content: '>';
  color: red;
}
.container p::after {
  content: '**';
  color: blue;
}
.container p::first-letter {
  font-size: 46px;
}
.container p::first-line {
  font-size: 24px;
}
