* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: black;
  max-width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.page-container {
  min-height: 200vh;
  display: grid;
  grid-template-rows: 100vh auto;
  grid-template-areas:
    'banner'
    'page-content';
}
.page-banner {
  background-color: gray;
  background-image: url('../images/nitish-meena-RbbdzZBKRDY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: banner;
  display: grid;
  grid-template-rows: 40px 20vh auto;
  grid-template-areas:
    'nav'
    'previews'
    'home';
}
.page-content {
  background-color: aliceblue;
  grid-area: page-content;
  display: grid;
  grid-template-rows: 1fr 1fr 50px;
  grid-template-areas:
    'desc'
    'projects'
    'contact-us';
  grid-gap: 10px;
}
.page-nav {
  grid-area: nav;
}
.page-previews {
  grid-area: previews;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}
.page-home {
  grid-area: home;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-desc {
  grid-area: desc;
}
.page-projects {
  grid-area: projects;
}
.page-contact-us {
  grid-area: contact-us;
}
.page-nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.page-nav > ul li {
  margin: 10px;
}
.page-previews > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}
.page-previews > ul > li img {
  background-color: gray;
  max-height: 20vh;
  width: auto;
  margin: 5px;
}
@media screen and (min-width: 680px) {
  .page-container {
  }
  .page-banner {
  }
  .page-content {
  }
  .page-nav {
  }
  .page-previews {
  }
  .page-home {
  }
  .page-desc {
  }
  .page-projects {
  }
  .page-contact-us {
  }
  .page-nav > ul {
  }
  .page-nav > ul li {
  }
  .page-previews > ul {
    justify-content: center;
  }
  .page-previews > ul > li img {
  }
}
