* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: aliceblue;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'theory'
    'code'
    'example';
  grid-template-rows: auto min-content auto;
}
.theory {
  grid-area: theory;
}
.code {
  grid-area: code;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.code pre {
  width: 90%;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}
.example {
  grid-area: example;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
span {
  width: 100%;
  word-wrap: break-word;
}
.tag {
  color: blue;
}
.tag::before {
  content: '<';
  color: blue;
}
.tag::after {
  content: '>';
  color: blue;
}
.close-tag::before {
  content: '</';
  color: blue;
}
.comment-tag,
.comment-tag span {
  color: gray;
}
.comment-tag::before {
  content: '<!--';
}
.comment-tag::after {
  content: '-->';
}
.tag-attribute {
  color: red;
}
