:root {
  --page-color: aliceblue;
  --page-section-space-between: 20px;
  --font-size: 16px;
  --content-padding: 15px 0px 15px 0px;
  --paragraphs-width: 80%;
  --theory-header-margin: 0px 0px 15px 0px;
  --theory-line-height: calc(var(--font-size) * 1.5);
  --code-border-radius: 10px;
  --code-width: 90%;
  --code-color: lightgray;
  --code-comment-color: gray;
  --shadows: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  --html-tag-color: blue;
  --html-attribute-color: red;
  --example-color: rgba(0, 0, 255, 0.7);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--page-color);
}
body {
  padding: var(--content-padding);
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'example'
    'theory'
    'code';
  grid-template-rows: auto min-content auto;
  grid-gap: var(--page-section-space-between);
}
.theory {
  grid-area: theory;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theory h1 {
  text-align: center;
  text-transform: uppercase;
  margin: var(--theory-header-margin);
}
.paragraphs {
  width: var(--paragraphs-width);
}
.paragraphs * {
  line-height: var(--theory-line-height);
  font-size: var(--font-size);
}

.code {
  grid-area: code;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--code-border-radius);
}
.code pre {
  padding: var(--content-padding);
  width: var(--code-width);
  background-color: var(--code-color);
  border-radius: var(--code-border-radius);
  box-shadow: var(--shadows);
  overflow-x: auto;
}
.tag,
.tag::before,
.tag::after,
.close-tag::before {
  color: var(--html-tag-color);
}
.tag::before {
  content: '<';
}
.tag::after {
  content: '>';
}
.close-tag::before {
  content: '</';
}
.comment-tag,
.comment-tag span {
  color: var(--code-comment-color);
}
.comment-tag::before {
  content: '<!--';
}
.comment-tag::after {
  content: '-->';
}
.tag-attribute {
  color: var(--html-attribute-color);
}

.example {
  grid-area: example;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--example-color);
  width: var(--code-width);
  justify-self: center;
  border-radius: var(--code-border-radius);
  box-shadow: var(--shadows);
}
