@import '../../public/css/components/content.css';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app {
  background-color: green;
}
.primera-clase {
  background-color: yellowgreen;
}
div[segunda='segunda'] {
  border-style: groove;
  border-width: 10px;
}
.container > div {
  border-radius: 50%;
  background-color: lightblue;
  height: 100px;
  width: 100px;
}
.primera-clase ~ .segunda-clase {
  align-self: flex-start;
}
#app + div {
  align-self: flex-end;
}
