@import '../../public/css/components/content.css';
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container > div {
  background-color: lightblue;
  height: 100px;
  width: 100px;
}
.container > div:hover {
  width: 120px;
  height: 120px;
}
.container > div:first-child {
  background-color: green;
}
.container > div:last-child {
  background-color: yellowgreen;
}
