* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: darkblue;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'theory'
    'code'
    'example';
  grid-template-rows: auto;
}
.theory {
  grid-area: theory;
}
.code {
  grid-area: code;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example {
  grid-area: example;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: lightblue;
  min-height: 25vh;
  width: 25vw;
}
span {
  width: 100%;
  word-wrap: break-word;
}
.tag::before {
  content: '<';
  color: blue;
}
.tag::after {
  content: '>';
  color: blue;
}
.close-tag::before {
  content: '</';
  color: blue;
}
.comment-tag {
  color: gray;
}
.comment-tag::before {
  content: '<!--';
}
.comment-tag::after {
  content: '-->';
}
