* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: darkblue;
}
body {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "theory theory"
  "code example";
  grid-template-columns: 1fr 1fr;
}
.theory {
  grid-area: theory;
}
.code {
  grid-area: code;
}
.example {
  grid-area: example;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: lightblue;
  min-height: 25vh;
  width: 25vw;
}
