@import '../../public/css/components/content.css';
.container {
  display: grid;
  grid-template-columns: 1fr 4fr auto;
  grid-template-rows: 15vh 40px auto auto 40px;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'aside main section'
    'aside main .'
    'footer footer footer';
  grid-gap: 10px;
}
.container > * {
  font-weight: bold;
}
header {
  background-color: lightblue;
  grid-area: header;
}
nav {
  background-color: lightblue;
  grid-area: nav;
}
aside {
  background-color: lightblue;
  grid-area: aside;
}
article {
  background-color: lightblue;
  grid-area: main;
}
section {
  background-color: lightblue;
  grid-area: section;
}
footer {
  background-color: lightblue;
  grid-area: footer;
}
