@import '../../public/css/components/content.css';
:root {
  --div-color: lightblue;
  --box-size-width: 30vw;
  --box-size-height: 30vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  height: var(--box-size-height);
  width: var(--box-size-width);
  background-color: var(--div-color);
}
