@import '../../public/css/components/content.css';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div {
  background-color: lightblue;
  min-height: 100px;
  height: auto;
  width: 30vw;
  padding: 15px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 40px;
  overflow-y: auto;
  overflow-x: hidden;
}
