@import '../../public/css/components/content.css';
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container div {
  background-color: lightblue;
  height: 100px;
  width: 100px;
}
.container div:nth-child(4n + 2) {
  align-self: flex-start;
}
.container div:nth-child(4n + 4) {
  align-self: flex-end;
}
